body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	position: relative;
	background: #F1F1F1;
}

body > div {
	height: 100%;
}

a {
	text-decoration: none;
}

.contentContainer {
	height: 100%;
}

.wrapContainer {
	margin-left: 150px;
	padding-top: 40px;
	height: calc(100% - 40px);
}

.wrapContainer > div {
	box-sizing: border-box;
	height: 100%;
	overflow-x: hidden;
	padding: 20px;
}