body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	position: relative;
	background: url('./../img/5.png');
}

a {
	text-decoration: none;
}

section {
	padding: 0;
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
}

.content {
	// padding: 0;
	// margin: 0 auto;
	// width: 960px;	
}

footer {
	background: #2E383F;
	height: 50px;
	padding: 20px;
	margin-top: 20px;
	color: white;
}
footer p {
	margin-bottom: 10px;
}