.articleListContainer {
	padding: 0 40px;
}

.textCenter {
	text-align: center;
}

.readMore {
	display: inline-block;
	background: #fff;
	margin: 15px auto;
	padding: 5px 14px;
	border: 1px solid #ddd;
	border-radius: 16px;
	font-size: 16px;
	color: #d85;
	outline: none;
}

.readMore:hover {
	background: #eee;
}