.title {
	text-align: center;
	font-size: 30px;
	margin-bottom: 10px;
}

.inputContainer {
	box-sizing: border-box;
	display: inline-block;
	margin: 8px 0;
	padding: 10px 16px;
	font-size: 18px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	height: 46px;
}

.inputTime {
	float: left;
	width: 20%;
}

.inputTag {
	float: right;
	width: 70%;
}
.inputGroup {
	//margin: 16px 0;
}
.inputGroup::after {
	display: block;
	content: '';
	clear: both;
}

.inputGroup label {
	font-size: 20px;
	margin: 10px 0;
	display: block;
}

.inputTitle {
	width: 100%;
}

.inputIntroduction {
	width: 100%;
	height: 100px;
}

.inputContent {
	width: 100%;
	height: 200px;
}

.postButton {
	color: #fff;
	background: #009a61;
	border: none;
	font-size: 14px;
	padding: 6px 12px;
	float: right;
}