.sidebarItem {
	margin-bottom: 10px;
}

.sidebarItem a {
	display: block;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	color: #16b398;	
}

.sidebarItem a:visited {
	color: #16b398;
}

.sidebarItem a:hover {
	color: #fff;
}

.sidebarItem a.active {
	color: #fff;
	background: #273542;
	border-left: 2px solid #16b398;
}

.avatar {
	background: url('../../images/avatar.jpg') center no-repeat;
	background-size: cover;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	margin: 20px auto 30px;
}